.header {
  background-color: white;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  height: 293px;
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}

.header_menu_list {
  position: relative;
  left: 25px;
  font-size: 19px;
  display: flex;
  gap: 32px;
  list-style: none;
  padding: 0;
  bottom: 5px;
}

.header_menu_link {
  text-underline-offset: 5px;
  text-decoration: underline;
}

.header_menu_link1 {
  text-decoration: none;
}

.header_logo-image {
  display: flex;
  justify-content: center;
  width: 129px;
  height: 105px;
}

.header_address {
  font-style: normal;
  font-size: 19px;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  right: 75px;
  bottom: 5px;
}

.address_menu1,
.address_menu2 {
  text-underline-offset: 5px;
  text-decoration: underline;
}


.cover {
  background-image: url("/images/cover.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  margin-bottom: 180px;
  padding: 165px 50px 50px;
  height: 757px;
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}

.overlay {
position: absolute;
top: 0; 
left: 0; 
right: 0; 
bottom: 0;
background-color: rgba(0, 0, 0, 0.6);
z-index: 1;
}

.cover-title {
  position: relative;
  z-index: 2;
  color: white;
}

.cover_description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  z-index: 2;
  position: absolute;
  bottom: 60px;
  right: auto;
  gap: 100px;
}

.aligned-text,
.aligned-text_center,
.aligned-text_right {
  letter-spacing: 30px;
  color: white;
  text-transform: uppercase;
  font-size: 100px;
}

.aligned-text {
  text-align: left;
}

.aligned-text_center {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
  margin-left: 30px;
}

.aligned-text_right {
  display: flex;
  justify-content: flex-end;
  text-align: right;
  margin-top: 17px;
  left: 30px;
  position: relative;
}

.cover_description-text {
  text-transform: uppercase;
  font-size: 22px;
  word-spacing: 18px;
  position: relative;
  top: 10px;
  display: flex;
  justify-content: flex-start;
}

.bet_button {
  display: flex;
  border: 2px solid white;
  background-color: transparent;
  padding: 10px 35px;
  color: white;
  text-transform: uppercase;
  z-index: 2;
  position: relative;
  left: 9px;
  top: 9px;
  margin-left: auto;
  font-size: 21px;
}

.lots {
  position: relative;
  width: 1100px;
  margin-top: 140px;
}

.lots_heading {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 20px 0 30px 60px;
}

.lots_list {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 25px;
  padding: 0 30px;
}

.card,
.card_book,
.card_picture {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 334px;
  height: 596px;
  padding: 50px 40px 40px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 2;
  color: white;
}

.card {
  background-image: url("/images/card-lot-01.jpg");
}

.card_book {
  background-image: url("/images/card-lot-02.jpg");
}

.card_picture {
  background-image: url("/images/card-lot-03.jpg");
}

.card::before,
.card_book::before,
.card_picture::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}


.card_title_film {
position: relative;
font-weight: 700;
text-transform: uppercase;
font-size: 22px;
text-decoration: underline;
bottom: 145px;
z-index: 2;
}

.card_title_book {
position: relative;
font-weight: 700;
text-transform: uppercase;
font-size: 22px;
text-decoration: underline;
bottom: 25px;
z-index: 2;
}

.card_title_picture {
  position: relative;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 22px;
  text-decoration: underline;
  bottom: 75px;
  z-index: 2;
}


.card_text_film,
.card_text_book,
.card_text_picture {
  position: relative;
  font-size: 20px;
  z-index: 2;
}

.lots__look-more-link {
  position: relative;
  top: 30px;
  font-size: 20px;
  font-weight: 400;
  padding: 0 0 40px 40px;
  text-underline-offset: 4px;
}

.about {
  display: grid;
  max-width: 1100px;
  min-height: 592px;
}

.about_logo {
  position: relative;
  top: 200px;
  left: 73px;
  background-color: black;
  width: 240px;
  height: 240px;
  border-radius: 50%;
}

.about_logo-image {
  position: relative;
  bottom: 25px;
  top: 30px;
  left: 118px;
  width: 148px;
  height: 114px;
}

.about_title {
  position: relative;
  font-size: 40px;
  font-weight: 700;
  padding-top: 60px;
  text-transform: uppercase;
  left: 380px;
  bottom: 100px;
}

.about_text {
  margin-top: 90px;
  width: 100%;
}

.about_text1 {
  position: relative;
  font-size: 20px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  margin-right: 350px;
  left: 380px;
  bottom: 100px;
}

.about_text2 {
  position: relative;
  font-size: 20px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  margin-right: 350px;
  left: 380px;
  bottom: 50px;
}

.footer {
  margin-bottom: 99px;
}

.footer_address,
.footer_address1,
.footer_address2 {
  position: relative;
  top: 70px;
  left: 15px;
  font-style: normal;
  font-size: 19px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  list-style: none;
  text-underline-offset: 4px;
}

.footer_menu_list {
  position: relative;
  top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  font-size: 19px;
  text-underline-offset: 4px;
}

.footer_menu-link1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  font-size: 19px;
  text-decoration: none;
}

.footer_social-list {
  position: relative;
  bottom: 74px;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 48px;
  right: 40px;
  top: 10px;
}

.footer_social-icon {
  width: 48px;
  height: 48px;
}

.footer_social-list-item {
  list-style: none;
}
